body {
  background-color: red; }

.button1-background {
  fill: blue; }

.button-foreground {
  fill: black; }

.page-content {
  position: absolute;
  top: 0; }

.wallpaper__dandelion {
  height: 100vh; }

.enlightenment-toggle__wrapper {
  width: 100vh;
  text-align: right; }

.enlightenment-toggle__text {
  display: inline-block; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav__title {
  display: inline-block; }

.nav__title-wrapper {
  display: inline-block; }

.nav__secret-letter {
  padding: 0.75rem;
  margin: -0.75rem; }

.nav__menu-options-wrapper {
  display: inline-block; }

.nav__menu-options {
  display: inline-block;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.nav__menu-option-image {
  width: 10vw; }
