@font-face {
  font-family: 'kraut-type-a-fuckregular';
  src: url("/kraut____typefuck11-webfont.woff2") format("woff2"), url("/kraut____typefuck11-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.enlightenment-toggle__checkbox, .contact-enlightenment-toggle__checkbox, .skills__icon, .nav__menu-option-image, .about-page__seeds-img, .item__icon, .nav__cookie, .nav__cookie-opened, .fortune {
  -webkit-filter: drop-shadow(0 0 10px white);
  filter: drop-shadow(0 0 7px white); }

.nav__title-main, .nav__title-sub, .enlightenment-toggle__text, .nav__menu-option-text, .enlightenment-directions, .skills__title, .contact-enlightenment-toggle__text {
  font-family: 'kraut-type-a-fuckregular', Sans-Serif;
  -webkit-filter: drop-shadow(0 0 10px white);
  filter: drop-shadow(0 0 7px white); }

.about-page__bio, .skills__name, .text__title, .text__details, .text__github, .game-over-bio, .game-over-bio_enlightened, .fortune__text {
  font-family: 'Roboto Slab', serif;
  -webkit-filter: drop-shadow(0 0 10px white);
  filter: drop-shadow(0 0 7px white); }

.enlightenment-toggle__text, .contact-enlightenment-toggle__text {
  font-size: 1.9vw; }

.nav__title-main {
  font-size: 5.5vw; }

.nav__menu-option-text, .nav__title-sub {
  font-size: 2.9vw; }

.about-page__bio, .game-over-bio, .game-over-bio_enlightened, .skills__skill {
  font-size: 1.75vw; }

.skills__title {
  font-size: 3.3vw; }

.text__title {
  font-size: 1.75vw; }

.text__details, .text__github {
  font-size: 1.49vw; }

.enlightenment-directions {
  font-size: 3vw; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  color: black;
  text-decoration: none; }

ul {
  list-style-type: none; }

body {
  margin: 0; }

.loading-overlay {
  width: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%); }

.loading-overlay__p {
  text-align: center; }

.wrapper {
  height: 100vh;
  text-align: center; }

.page-content {
  max-width: 1564px;
  display: inline-block;
  width: 100%;
  margin-top: 0;
  max-height: 100vh; }

.notransition {
  -webkit-transition: none !important;
  transition: none !important; }

.wallpaper {
  max-width: 1564px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -999;
  background-color: white;
  height: 100%;
  text-align: center; }

.wallpaper_enlightened {
  background-color: black; }

.wallpaper__dandelion {
  height: 99vh;
  display: inline-block;
  fill: gray;
  padding: 4vh 0 1vh 0; }

.fg-seed, .bg-seed {
  -webkit-transition: 5s;
  transition: 5s; }

.enlightenment-toggle__wrapper {
  width: 100vw;
  text-align: right;
  padding: 1.5vw 1.5vw 3.5vw 1.5vw; }

.enlightenment-toggle:hover {
  cursor: pointer; }

.enlightenment-toggle__checkbox, .contact-enlightenment-toggle__checkbox {
  display: inline-block;
  height: 1.5vw;
  width: 1.5vw;
  margin: 0.5vw 0.5vw auto auto; }

input {
  width: 25px; }

.enlightenment-toggle__text, .contact-enlightenment-toggle__text {
  float: right;
  margin: 0; }

.enlightenment-toggle__text_enlightened {
  color: white; }

.button1-background {
  fill: #ac7839; }

.button2-background {
  fill: #287750; }

.button3-background {
  fill: #323676; }

.button-foreground_enlightened {
  fill: white; }

.nav__wrapper {
  position: relative;
  width: 100%; }

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 8vw 2vh 8vw;
  height: 16vw; }

.nav__menu-options, .about-page__skills-wrapper {
  padding-left: 12vw; }

.nav__title {
  display: inline-block;
  white-space: nowrap; }

.nav__title-main {
  margin: 0;
  text-align: center; }

.nav__title-main_enlightened {
  color: white; }

.nav__title-sub {
  margin: -1vh 0 0 0;
  text-align: center; }

.nav__title-sub_enlightened {
  color: white; }

.nav__title-wrapper {
  display: inline-block;
  width: 50%; }

.nav__secret-letter {
  padding: 0.75rem;
  margin: -0.75rem;
  cursor: default;
  pointer-events: none; }

.nav__secret-letter_enlightened {
  color: white; }

.nav__secret-letter-functional_enlightened {
  color: yellow;
  text-shadow: 0px 0px 6px #08c3fd;
  cursor: pointer;
  pointer-events: auto; }

.nav__menu-options-wrapper {
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: center;
  height: 14vw; }

.nav__menu-options {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 14vw; }

.nav__menu-option {
  margin: 0 1vw; }

.nav__menu-option:first-child {
  margin: 0 1vw 0 0; }

.nav__menu-option:last-child {
  margin: 0 0 0 1vw; }

.nav__menu-option-image {
  width: 8vw; }

.nav__menu-option-image2 {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-left: 0.7vw; }

.game-over-menu-option-image_enlightened {
  display: none; }

.nav__menu-option-text {
  text-align: center;
  margin: 1vw 0 0 0; }

.nav__menu-option-text_enlightened {
  color: white; }

.game-over-menu-option-text_enlightened {
  display: none; }

.nav__cookie {
  z-index: 999; }

.about-page__wrapper {
  width: 100%;
  padding: 0 8vw; }

.about-page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.about-page__bio-wrapper {
  width: 50%; }

.about-page__bio {
  width: 100%;
  line-height: 2.75vw;
  text-align: left; }

.about-page__bio_enlightened {
  color: #4d4d4d;
  -webkit-filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5)); }

.game-over-bio_enlightened {
  visibility: hidden; }

.bio__hidden-code {
  color: black;
  text-shadow: none; }

.bio__hidden-code_enlightened {
  color: limegreen;
  text-shadow: 0px 0px 7px #cad178; }

.bio__hidden-cap {
  text-transform: none; }

.bio__hidden-cap_enlightened {
  text-transform: uppercase; }

.bio__hidden-special {
  font-family: "Roboto Slab", serif; }

.bio__hidden-special_enlightened {
  font-family: 'kraut-type-a-fuckregular', Sans-Serif;
  color: yellow;
  text-shadow: 0px 0px 6px #08c3fd; }

.about-page__seeds-img {
  width: 100%; }

.about-page__seeds-img_enlightened {
  fill: white; }

.about-page__skills-wrapper {
  width: 50%; }

.skills__list {
  padding: 0; }

.skills__title {
  text-align: center;
  margin-top: 10vh; }

.skills__title_enlightened {
  color: white; }

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left; }

.skills__skill {
  width: 50%;
  margin: 0.3vw 0; }

.skills__icon-wrapper {
  display: inline-block;
  width: 2vw; }

.skills__icon_enlightened {
  color: white; }

.skills__name {
  display: inline-block;
  padding-left: 0.5vh;
  margin: 0.1vw 0; }

.skills__name_enlightened {
  color: white; }

.game-over-skills-wrapper_enlightened {
  visibility: hidden; }

.about-page__seeds-img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.about-page {
  height: 35.2vw; }

.contact__wrapper, .portfolio__wrapper {
  height: 35.2vw;
  width: 100%;
  text-align: center; }

.contact, .portfolio {
  height: 63%;
  padding-left: 7vw;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.contact__item-wrapper, .portfolio__item-wrapper {
  width: 50%;
  text-align: left; }

.contact__item, .portfolio__item {
  height: 11vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: drop-shadow(0 0 10px white);
  filter: drop-shadow(0 0 10px white); }

.item__icon {
  width: 8vw;
  padding-top: 0.6vw; }

.item__icon_enlightened {
  -webkit-filter: drop-shadow(0 0 2px black);
  filter: drop-shadow(0 0 2px black); }

.text__title-toggle_enlightened, .contact-enlightenment-toggle__text_enlightened, .contact-enlightenment-toggle__wrapper_enlightened {
  display: none;
  pointer-events: none; }

.contact-enlightenment-toggle_enlightened {
  pointer-events: none; }

.enlightenment-directions {
  text-transform: lowercase;
  display: none;
  padding-left: 1vw;
  color: red;
  text-shadow: 0 0 7px white; }

.enlightenment-directions_enlightened {
  display: block; }

.text__details {
  margin-top: 0;
  -webkit-filter: drop-shadow(0 0 5px white);
  filter: drop-shadow(0 0 5px white); }

.text__github {
  text-decoration: underline;
  color: #29526d;
  -webkit-filter: drop-shadow(0 0 5px white);
  filter: drop-shadow(0 0 5px white); }
  .text__github:hover {
    color: #973355; }

.github-p {
  margin-bottom: 0; }

.github-p_enlightened {
  display: none; }

.text__title {
  text-decoration: underline;
  color: #29526d;
  margin-bottom: 0;
  -webkit-filter: drop-shadow(0 0 5px white);
  filter: drop-shadow(0 0 5px white); }

.text__main:hover .text__title {
  color: #973355; }

.text__main_enlightened {
  display: none; }

.item__icon-wrapper-href {
  pointer-events: none; }

.text__github_plain {
  color: black;
  text-decoration: none;
  display: inline-block; }
  .text__github_plain:hover {
    color: black; }

.nav__cookie {
  display: none; }

.nav__cookie-opened {
  display: none;
  width: 9vw; }

.nav__cookie_enlightened {
  display: block;
  width: 9vw;
  -webkit-transition: 1s;
  transition: 1s; }

.nav__cookie_has-hover:hover {
  -webkit-filter: drop-shadow(0 0 20px white);
  filter: drop-shadow(0 0 20px white);
  -webkit-transition: 1s;
  transition: 1s; }

.cookie-foreground {
  fill: rgba(54, 40, 0, 0.5); }

.cookie-background {
  fill: rgba(54, 30, 0, 0.5); }

.cookie-fortune {
  fill: rgba(191, 170, 64, 0.5); }

.cookie-outline {
  fill: white; }

.fortune {
  display: none;
  z-index: 999;
  position: absolute;
  width: 42vw;
  left: 40vw;
  top: 20vw;
  background-color: rgba(191, 170, 64, 0.5);
  border-radius: 1px 0 1px 0;
  padding: 1vh 3vw;
  -webkit-transition: background-color 5s ease;
  transition: background-color 5s ease; }

.fortune__text {
  display: none;
  color: #e1004c;
  font-size: 1.8vw;
  -webkit-filter: drop-shadow(0 0 1px #e1004c);
  filter: drop-shadow(0 0 1px #e1004c);
  text-align: center;
  -webkit-transition: 2s;
  transition: 2s; }

.fortune__text_italic {
  font-style: italic; }

.fortune__text:first-child {
  padding: 0.9vw 0; }

.nav__thanks-wrapper {
  z-index: 1000;
  display: none;
  position: absolute;
  right: 14vw;
  bottom: 0vw; }

.nav__thanks {
  z-index: 1000;
  font-family: 'Roboto Slab', serif;
  color: #e1004c;
  font-size: 2vw; }

@media only screen and (min-width: 1564px) {
  .enlightenment-toggle__text, .contact-enlightenment-toggle__text {
    font-size: 29.72px; }
  .nav__title-main {
    font-size: 86.02px; }
  .nav__menu-option-text, .nav__title-sub {
    font-size: 45.36px; }
  .about-page__bio, .game-over-bio, .game-over-bio_enlightened, .skills__skill {
    font-size: 27.37px; }
  .skills__title {
    font-size: 51.61px; }
  .fortune__text {
    font-size: 28.152px; }
  .nav__thanks {
    font-size: 31.28px; }
  .text__title {
    font-size: 27.37px; }
  .text__details, .text__github {
    font-size: 23.3px; }
  .enlightenment-directions {
    font-size: 46.92px; }
  .wallpaper__dandelion {
    padding: 62.56px 0 15.64px 0; }
  .enlightenment-toggle__wrapper {
    width: 1564px;
    padding: 23.46px 23.46px 54.74px 23.46px; }
  .enlightenment-toggle__checkbox, .contact-enlightenment-toggle__checkbox {
    height: 23.46px;
    width: 23.46px;
    margin: 7.82px 7.82px auto auto; }
  .nav {
    padding-right: 125.12px;
    padding-left: 125.12px; }
  .nav__menu-options, .about-page__skills-wrapper {
    padding-left: 187.68px; }
  .nav__menu-options, .nav__menu-options-wrapper {
    height: 218.96px; }
  .nav__menu-option {
    margin: 0 15.64px; }
  .nav__menu-option:first-child {
    margin: 0 1.56px 0 0; }
  .nav__menu-option:last-child {
    margin: 0 0 0 1.56px; }
  .nav__menu-option-image {
    width: 125.12px; }
  .nav__menu-option-image2 {
    padding-left: 10.95px; }
  .nav__menu-option-text {
    margin: 15.64px 0 0 0; }
  .about-page__wrapper {
    padding: 0 125.12px; }
  .about-page__bio {
    line-height: 43.01px; }
  .skills__skill {
    margin: 4.69px 0; }
  .skills__icon-wrapper {
    width: 31.28px; }
  .skills__name {
    padding-left: 7.82px;
    margin: 1.56px 0; }
  .contact, .portfolio {
    padding-left: 109.4px; }
  .contact__item, .portfolio__item {
    height: 172.04px; }
  .enlightenment-directions {
    padding-left: 15.64px; }
  .item__icon {
    width: 125.12px; }
  .item__icon {
    padding-top: 9.38px; }
  .nav__cookie-opened, .nav__cookie_enlightened {
    width: 140.76px; }
  .fortune {
    width: 656.88px;
    left: 625.6px;
    top: 312.8px;
    padding: 15.64px 46.92px; }
  .fortune__text:first-child {
    padding: 14.08px 0; }
  .nav__thanks-wrapper {
    right: 218.96px; }
  .about-page {
    height: 550.47px; }
  .contact__wrapper, .portfolio__wrapper {
    height: 550.53px; } }

@media only screen and (max-width: 1465px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media only screen and (max-width: 1060px) {
  .skills__title {
    margin-top: 6vh; } }

@media only screen and (max-width: 860px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    height: auto;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .nav__menu-options {
    padding: 0; }
  .about-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .about-page__bio-wrapper {
    width: 100%; }
  .about-page__seeds-img {
    display: none; }
  .about-page__skills-wrapper {
    padding: 0; }
  .skills__title {
    margin: 0; }
  .skills__list {
    width: 100%; } }

@media only screen and (max-width: 600px) {
  .enlightenment-toggle__wrapper {
    width: 100vw;
    padding: 5vw 6vw 0 0; }
  .enlightenment-toggle__checkbox {
    width: 3vw;
    height: 3vw;
    margin: 1vw 1vw 0 0; }
  @-moz-document url-prefix() {
    .enlightenment-toggle__checkbox {
      margin: 0 2vw; } }
  .enlightenment-toggle__text, .contact-enlightenment-toggle__text {
    font-size: 4vw; }
  .nav__title-main {
    font-size: 10vw; }
  .nav__menu-option-text, .nav__title-sub {
    font-size: 5vw; }
  .about-page__bio, .game-over-bio, .game-over-bio_enlightened, .skills__skill {
    font-size: 3.8vw; }
  .skills__title {
    font-size: 6vw; }
  .fortune__text {
    font-size: 4.75vw; }
  .nav__thanks {
    font-size: 5.25vw; }
  .text__title {
    font-size: 3.5vw; }
  .text__details, .text__github {
    font-size: 3.25vw; }
  .enlightenment-directions {
    font-size: 9vw; }
  .nav {
    width: 100%; }
  .nav__title-wrapper {
    width: 100%;
    padding-bottom: 10vw;
    padding-top: 17vw; }
  .nav__menu-options-wrapper {
    width: 100%;
    height: 25vw; }
  .nav__menu-option-image, .nav__cookie {
    width: 20vw; }
  .nav__menu-option {
    margin: 0 3vw; }
  .nav__menu-option:first-child {
    margin: 0 3vw 0 0; }
  .nav__menu-option:last-child {
    margin: 0 0 0 3vw; }
  .nav__menu-option-image2 {
    padding: 0; }
  .about-page, .about-page__wrapper {
    height: 88.6vw; }
  .about-page__skills-wrapper {
    width: 65vw; }
  .about-page__bio-wrapper {
    padding-top: 10vw; }
  .about-page__bio {
    line-height: 5vw; }
  .skills__name {
    padding-left: 4vw;
    margin: 0; }
  .skills__skill {
    margin: 0; }
  .skills__list {
    line-height: 4vw; }
  .portfolio__wrapper, .contact__wrapper, .contact, .portfolio {
    height: 88.6vw; }
  .portfolio__item-wrapper, .contact__item-wrapper {
    width: 100%;
    padding-bottom: 4vw; }
  .contact, .portfolio {
    height: auto;
    padding-left: 0;
    width: 72vw; }
  .contact__item, .portfolio__item {
    height: 15vw; }
  .item__icon {
    width: 20vw; }
  .text__title {
    margin-top: 3vw;
    white-space: nowrap; }
  .text__details {
    margin-bottom: 0; }
  .github-p {
    margin-top: 1.5vw; }
  .enlightenment-directions {
    padding-left: 1vw;
    margin: 3vw; } }

x {
  color: #ac5539; }

x {
  color: #29526d; }

x {
  color: #659934; }

x {
  color: #492d73; }

x {
  color: #973355; }

x {
  color: #cad178; }

x {
  color: #e8d33f; }

x {
  color: #96adc8; }

x {
  color: #e55934; }
